<section class="about-me">
  <div class="container">
    <div class="about-me-describe">
      <h2 class="about-me-title">
        i work with people all over the world to create impressive and
        <span class="functional"> functional</span>
        <span class="websites">websites</span> that reflect each client's unique
        personality.
      </h2>
    </div>
    <div class="about-me-photo">
      <picture class="about-me-img">
        <source
          srcset="
            ../images/about-me/about-me-desc.1x.jpg 1x,
            ../images/about-me/about-me-desc.2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../images/about-me/about-me-tablet-1x.jpg   1x,
            ../images/about-me/about-me-tablet-2x.jpg2x
          "
          media="(min-width: 768px)"
        />

        <img
          src="../images/about-me/about-me-mob-2x.jpg"
          alt="my photo"
          width="343"
          height="500"
        />
      </picture>
    </div>
  </div>
</section>
