<section class="hero">
  <div class="container">
    <h1 class="hero-main-title">
      Hello. <br />I’m Fullstack developer Lloyd Jefferson.
    </h1>

    <div class="hero-soc-media">
      <ul class="hero-soc-media-list">
        <li class="hero-soc-media-item">
          <a
            class="hero-soc-media-item-link"
            href="https://www.instagram.com/"
            target="_blank"
            >IG</a
          >
        </li>
        <li class="hero-soc-media-item">
          <a
            class="hero-soc-media-item-link"
            href="https://www.facebook.com/"
            target="_blank"
            >FB</a
          >
        </li>
        <li class="hero-soc-media-item">
          <a
            class="hero-soc-media-item-link"
            href="https://www.youtube.com/"
            target="_blank"
            >YT</a
          >
        </li>
        <li class="hero-soc-media-item">
          <a
            class="hero-soc-media-item-link"
            href="https://www.linkedin.com/"
            target="_blank"
            >IN</a
          >
        </li>
        <li class="hero-soc-media-item-email">
          <a
            target="_blank"
            class="hero-soc-media-item-link"
            href="mailto:llloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
