@media only screen and (max-width: 768px) {
  .header-section {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-logo {
    display: flex;
    gap: 8px;
  }

  .span {
    width: 8px;
  }
  .header-logo-container {
    display: flex;
  }
  .header-image {
    border-radius: 18px;
  }
  .header-logo-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    gap: 3px;
  }

  .span {
    width: 8px;
    height: 8px;
  }
  .header-list {
    display: none;
  }

  .header-btn {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .header-section {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-navigation {
    display: flex;
  }
  .header-logo {
    margin-right: 151px;
  }
  .header-image {
  }
  .header-logo-name {
  }
  .span {
  }
  .header-list {
    display: block;
  }
  .header-list-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    transition: color 0.3s ease;
  }

  .header-list-title:hover,
  .header-list-title:focus {
    color: var(--accent-color);
  }
  .header-item {
    display: none;
  }
  .header-item-link {
  }
  .header-btn {
    color: var(--main-color);
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    background-color: var(--accent-color);
    border: none;
    padding: 18px 24px 18px 24px;
    border-radius: 60px;
    height: 55px;
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: rgba(224, 55, 63, 1);
  }
}

@media screen and (min-width: 1440px) {
  .header-section {
    display: flex;
  }
  .header-logo {
    margin-right: 487px;
  }
}
