@media only screen and (max-width: 768px) {
  header {
    padding-top: 32px;
    padding-bottom: 32px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
  }

  .header-logo {
    display: flex;
    gap: 8px;
  }

  .span {
    width: 8px;
  }
  .header-logo-container {
    display: flex;
  }
  .header-image {
    border-radius: 18px;
    height: auto;
    transition: transform 0.3s ease;
  }

  .header-image:hover {
    transform: scale(1.1);
  }
  .header-logo-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    gap: 3px;
  }

  .header-logo-name:hover,
  .header-logo-name:focus {
    color: var(--accent-color);
  }

  .span {
    width: 8px;
    height: 8px;
  }
  .header-list {
    display: none;
  }

  .header-btn {
    display: none;
  }

  .header-navigation {
    display: flex;
  }

  .mobile-btn {
    margin-left: auto;
    width: 28px;
    height: 28px;
  }

  .header-list-title {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  header > .container {
    display: flex;
    max-width: 704px;
    width: 100%;
  }
  header {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
  }

  .header-logo {
    display: flex;
    gap: 8px;
  }

  .header-navigation {
    display: flex;
  }
  .header-menu {
    margin-left: 151px;
  }
  .header-list-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    transition: color 0.3s ease;
  }

  .header-list-title:hover,
  .header-list-title:focus {
    color: var(--accent-color);
  }
  .header-list {
    display: none;
  }
  .header-item-link {
  }
  .header-btn {
    margin-left: auto;
    color: var(--main-color);
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    background-color: var(--accent-color);
    border: none;
    padding: 18px 24px 18px 24px;
    border-radius: 60px;
    height: 55px;
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: rgba(224, 55, 63, 1);
  }

  .mobile-btn {
    display: none;
  }
  .header-image {
    border-radius: 18px;
    height: auto; /* Сохраняет пропорции */
    transition: transform 0.3s ease;
  }

  .header-image:hover {
    transform: scale(1.1);
  }

  .header-logo-name:hover,
  .header-logo-name:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1280px) {
  header > .container {
    display: flex;
    max-width: 1376px;
    width: 100%;
  }
  header {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
  }

  .header-logo {
    display: flex;
    gap: 8px;
  }

  .header-btn {
    margin-left: auto;
    color: var(--main-color);
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    background-color: var(--accent-color);
    border: none;
    padding: 18px 24px 18px 24px;
    border-radius: 60px;
    height: 55px;
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: rgba(224, 55, 63, 1);
  }

  .mobile-btn {
    display: none;
  }
  .header-list {
    display: none;
  }
  .header-navigation {
    display: flex;
  }
  .header-list-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    transition: color 0.3s ease;
  }

  .header-list-title:hover,
  .header-list-title:focus {
    color: var(--accent-color);
  }

  .header-menu {
    margin-left: 487px;
  }
  .header-image {
    border-radius: 18px;
    height: auto; /* Сохраняет пропорции */
    transition: transform 0.3s ease;
  }

  .header-image:hover {
    transform: scale(1.1);
  }
  .header-logo-name:hover,
  .header-logo-name:focus {
    transform: scale(1.1);
  }
}
